<main>
<div class="container">
    <div class="row">
        <div class="col s6">
            <button class="waves-effect waves-light btn black" (click)="goToRandomCar()" title="Montre moi une auto aléatoire">Aléatoire</button>
        </div>
      
      </div>
      <div class="row">
        
       
        <div *ngFor="let car of carList" class="col m4 s6">
            <div (click)="goToCar(car)" class="card horizontal"  carBorderCard>
                <div class="card image">
                    <img src="{{car.picture}}" class="car-image">
                </div>
                <div class="card-stacked">
                    <div class="card-content">
                        <p>
                            {{car.model}}
                        </p>
                        <p>
                            {{car.mark}}
                        </p>
                        <p>
                            <small>
                                {{car.year}}
                            </small>
                        </p>


                    </div>
                </div>
            </div>


        </div>
    </div>

</div>
</main>