<header>
<div class="title">
  <nav>
    <div class="nav-wrapper  orange lighten-1" >
      <a href="cars" class="brand-logo center  black-text">
        Mon Garage</a>

        <div>
          <ul id="nav-mobile" class="right hide-on-med-and-down flex">
   
              <li><a href="cars">Mes bolides</a></li>
              <li><a href="addCar">Ajout de bolide</a></li>
              <li><a href="favorit">Mes favorits</a></li>
              <li>
                <form>
                  <form class="input-field" (submit)="searchCars()">
                    <input id="searchTerm" type="search" [(ngModel)]="searchTerm" name="searchTerm" (keydown.enter)="searchCars()">
                    <label class="label-icon" for="search" ><i class="material-icons" >search</i></label>
                    <i class="material-icons">close</i>
                  </form>
                </form>
              </li>
            </ul>
        
        </div>
    </div>
  </nav>
  <router-outlet>
  </router-outlet>
</div>
</header>


<footer class="page-footer  black">
  <div class="container">
    <div class="row">
      <div class="col l6 s12">
        <h6 class="white-text">MonGarageApp</h6>
        <p class="grey-text text-lighten-4">HEITZMANN M.</p>
      </div>
      <div class="col l4 offset-l2 s12">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQ6e1z86ihHJHLIWqIrgDpMKpqBYq7H1kJenQ&usqp=CAU" class="motor-logo">
      </div>
    </div>
  </div>
  <div class="footer-copyright">
    <div class="container">
    © 2024 Copyright Text
    </div>
  </div>
</footer>

